.search button {
  display: flex;
  justify-self: center;
  align-items: center;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 2em;
  opacity: 0.8;
}
.search button:hover {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 0 2em;
  opacity: 1;
  cursor: pointer;
}
.material-icons.md-20 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
