.videoCard {
  width: 270px;

  &:hover {
    cursor: pointer;
  }

  &__image {
    height: 140px;
    width: 250px;
  }

  &__title,
  &__channelTitle,
  &__publishDateAndViews {
    margin: 2px 0;
  }

  &__title {
    font-size: 17px;
  }

  &__channelTitle {
    font-size: 14px;
  }

  &__publishDateAndViews {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
