.recommended {
  flex: 1;
  margin-top: 20px;

  &__title {
    margin-top: 0;
  }

  &__videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 1em;
    justify-items: center;
  }
}
